div {
    background-color: lightslategray;
    /* padding: 30px 10px   30px 10px; */
    /*          top  right  bottom  left*/
    
    /* padding: 20px 5px         20px; */
    /*          top  left/right  bottom*/

    padding: 20px       20px;
    /*      top/bottom  left/right  */

    border: double 10px #404040;
}

/* div.round {
    border-radius: 30px;
} */

div:nth-child(2n-1) {
    border-radius: 30px;
}